.h4c-sponsors {
    min-height: 15rem;
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 50px;
    }

    img {
        margin: 0 40px;
        max-width: 250px;
        max-height: 150px;
    }
}
