$gray-100: #f2f2f2;
$gray-200: #f0f0f0;
$gray-500: #3c3c3c;
$gray-600: #2b2b2b;
$gray-700: #1a1a1a;

$yellow-100: #f0cc4f;
$yellow-200: #ecbe20;
$yellow-300: #dfb113;

$cyan-100: #91dae3;
$cyan-200: #69cdd8;
$cyan-300: darken($cyan-200, 10%);

$grays: ();
$grays: map-merge((
    "100": $gray-100,
    "200": $gray-200,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700
), $grays);

$colors: ();
$colors: map-merge((
    "light-yellow": $yellow-100,
    "yellow": $yellow-200,
    "dark-yellow": $yellow-300,
    "light-cyan": $cyan-100,
    "cyan": $cyan-200,
    "dark-cyan": $cyan-300
), $colors);

$primary: $yellow-200;
$secondary: $cyan-200;
$light: $gray-100;
$dark: $gray-700;

// /Colors.

// Grid.
$screen-md: 992px;

// Fonts.
$font-size-base: 1rem;
$lead-font-size: $font-size-base;

$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Share Tech', sans-serif;

// Border radius.
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Navbar overides
$navbar-dark-color:                 $yellow-200;
$navbar-dark-hover-color:           $yellow-300;
$navbar-dark-active-color:          $yellow-300;
$navbar-dark-disabled-color:        $yellow-100;
$navbar-dark-toggler-border-color:  transparent;
